<page-footer id ="layoutFooter">

    <div>
        <p>
            &#169; Kumar's. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/home1">Home</a>
                </li>
                <% if(locals.user){ %>
                    
                    <li>
                      <a href="/users/profi/<%=locals.user%>"><%= locals.user.name %></a>
                    </li>
                    <%}%>
                       
                       

                   
            </ul>
        </nav>
    </div>
</page-footer>