
<page-header id ="layoutHeader">
<nav>
    <div class="mini-logo">
        <p>
            <a href='/home1'>
                Codeial Home Page
            </a>
        </p>
    </div>

<div class ="auth-links">
<ul>
    <%if(locals.user){%>
        <li>
            <a href="/users/profi/<%=locals.user.id%>"><%=user.name%></a>
            
        </li>
        <li>
            <a href="/users/logOut">Ausloggen</a>
        </li>
        <%}else{%>

            <li>
                <a href="/users/signUp">sign-Up</a>
                
            </li>
            <li>
                <a href="/users/signIn">sign-In</a>
            </li>
            <%}%>
</ul>
</div>
</nav>

</page-header>