
<html>
<head><title><%=title%></title>
</head>
<body>

	
	<br>
	<%-include('_pageHeader')%>
	<h1> Codeial Home Page up!!!!!!! aus EJS <%=title%> </h1>
	
	<br>
	<%- include('_pageFooter')%>

</body>
</html>