
	<br>
	<h1> Codeial Home Page up!!!!!!! aus EJS <%=title%> </h1>	
	<br>

	<section id = "feed-posts">
		<h4>Posts</h4>
		<form id ="new-post-form" action="/posts/create" method="POST">

			<textarea name="content" cols="30" row="10"  placeholder = "Typein here..." required ="true"></textarea>
			<input type="submit" value="Post"></input>
		</form>
		
		<div id="">

			<ul>
				<% for(post of posts){ %>
				<li>

					<p>
					<%=post.content%>
					
					<%=post%>
					</p>
				</li>
				<%}%>
			</ul>
		</div>

	</section>

	<!-- <section id = "post-section">
		<form action = "" method ="POST">
			<textarea name = "content" cols = "25" row = "10" placeholder = "Type In..." required ="true"></textarea>
			<input type = "submit" value ="POST">

		</form>

	</section> -->
	