<html>
<head><title><%=title%></title>
</head>
<body>



<br>
<%-include('_pageHeader')%>
<h1>Sie haben sich erfolgreich Angemeldet.<%=title%></h1>



<br>
<%- include('_pageFooter')%>




</body>
</html>