
<link rel="stylesheet" type="text/css" href="/css/user_Profile.css">

<br>

<h2>Ihr Profile ist schon aktulisiert. Es  ist Ihr <%=title%> </h2>


<br>

<p><h2 id ="h2">Ihr Registiert Email mit uns: </h2>  <%=user.email%></p>
<p><h2 id ="h2">Ihr Amtliche Name mit uns: </h2> <%=user.name%></p>
