
<link rel="stylesheet" type="text/css" href="../css/user_Profile.css">

<br>

<h2>Ihr Profile ist schon aktulisiert. Es  ist Ihr <%=title%> </h2>

<p>Name: <%=user.name%></p>

<p>Email: <%=user.email%></p>

<br>
