<html>
<head><title><%=title%></title>
</head>
<body>


<br>
<%-include('_pageHeader')%>
<h2>Ihr Profile ist schon aktulisiert. Es  ist Ihr <%=title%> </h2>

<br>
<%-include('_pageFooter')%>

</body>
</html>