

<link rel = "stylesheet" type = "text/css" href ="/css/signIn.css">
<h1>You are at User SignIn Page</h1>

<form action = "/users/createSession" method = "POST">

<input type = "email" name = "email" placeholder ="Enter Your Email" required></input>
<input type = "password" name = "password" placeholder = "Enter Your Password" required></input>
<button>SignIn</button>

</form>