


<link rel = "stylesheet" type = "text/css" href ="/css/signUp.css">

<h1> You are at User SignUp Page</h1>

<form action = "/users/create" method = "POST">
<input type = "text" name = "name" placeholder = "Enter Your Name" required></input>
<input type = "email" name = "email" placeholder = "Enter Your Valid Email-Id" required></input>
<input type = "password" name = "password" placeholder = "Create a Strong Password" required></input>
<input type = "password" name = "confirmPassword" placeholder = "Confirm Password" required></input>
<button>SignUp</button>

</form>