#layoutFooter {
  color: white;
  position: sticky;
  top: 100%;
  bottom: 0%;
  background: #4d2626;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start; }
  #layoutFooter a {
    color: white;
    text-decoration: none; }
  #layoutFooter .footer-nav ul {
    list-style: none; }
